---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;
/* --- About page subtitle formatting --- */
.post-header .desc p {
  margin: 0;      /* removes extra paragraph spacing from markdownify */
}

.post-header .desc {
  line-height: 1.4;
}

.post-header .desc a {
  text-decoration: underline;
}

